/* 为 bilibili.com 域名添加图标 */
a[href*="//bilibili.com/"]::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image: url("http://vtuber.wikidot.com/local--files/_icons/bilibili.png");
}

/* 为 baidu.com 添加图标 */
a[href*="//baidu.com"]::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image: url("http://vtuber.wikidot.com/local--files/_icons/baidu.png");
}

/* 为 youtube.com 添加图标 */
a[href*="//youtube.com"]::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    background-image: url("http://vtuber.wikidot.com/local--files/_icons/youtube.png");
}

/* 没有匹配到的域名不会显示任何图标 */
