/* 为 google.com 域名添加图标 */
a[href^="https://www.bilibili.com"]::after,
a[href^="http://www.bilibili.com"]::after,
a[href^="https://bilibili.com"]::after,
a[href^="http://bilibili.com"]::after {
    background-image: url("http://vtuber.wikidot.com/local--files/_icons/bilibili.png");
}

/* 为 github.com 添加图标 */
a[href^="https://baidu.com"]::after,
a[href^="http://baidu.com"]::after {
    background-image: url("http://vtuber.wikidot.com/local--files/_icons/baidu.png");
}

/* 为 youtube.com 添加图标 */
a[href^="https://www.youtube.com"]::after,
a[href^="http://www.youtube.com"]::after,
a[href^="https://youtube.com"]::after,
a[href^="http://youtube.com"]::after {
    background-image: url("http://vtuber.wikidot.com/local--files/_icons/youtube.png");
}

/* 没有匹配到的域名不会显示任何图标 */
