/* 通用外部链接样式：给所有外部链接后面留出一点间距 */
a[href^="http://"]::after,
a[href^="https://"]::after {
    content: "";
    display: inline-block;
    /*width: 16px;
    height: 16px;
    margin-left: 0px;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

/* 为 bilibili.com 域名添加图标 */
a[href*="//.bilibili.com/"]::after {
    background-image: url("http://vtuber.wikidot.com/local--files/_icons/bilibili.png");
}

/* 为 baidu.com 添加图标 */
a[href*="//.baidu.com"]::after {
    background-image: url("http://vtuber.wikidot.com/local--files/_icons/baidu.png");
}

/* 为 youtube.com 添加图标 */
a[href*="//.youtube.com"]::after {
    background-image: url("http://vtuber.wikidot.com/local--files/_icons/youtube.png");
}

/* 没有匹配到的域名不会显示任何图标 */
